<footer>
  <div class="wrap">
    <div class="f-top">
      <div class="f-logo">
        <img src="{{LOGO}}" alt="GateCity Buckhead" width="160" height="55">
        <div class="f-when">Sundays at 11:00am</div>
        <div>Atlanta International School<br>2890 N Fulton Dr NE<br>Atlanta, GA 30305</div>
      </div>
      <div class="f-col">
        <h4>Visit</h4>
        <a href="/new-here/">Plan Your Visit</a>
        <a href="/location">Directions &amp; Parking</a>
        <a href="/buckcity-kids">BuckCity Kids</a>
        <a href="/our-beliefs">Our Beliefs</a>
        <a href="/our-team">Our Team</a>
      </div>
      <div class="f-col">
        <h4>Connect</h4>
        <a href="/digital-community#prayer">Virtual Prayer</a>
        <a href="/digital-community#groups">Small Groups</a>
        <a href="/digital-community#forum">Sunday Forum</a>
        <a href="/resources/">Resources</a>
        <a href="{{GIVE}}">Give</a>
      </div>
      <div class="f-col">
        <h4>Follow</h4>
        <a href="https://www.instagram.com/gcbuckhead/">Instagram</a>
        <a href="https://www.facebook.com/gatecitybuckhead">Facebook</a>
        <a href="{{YT}}">YouTube</a>
        <a href="https://gatecityatl.com/">Lawrenceville Campus</a>
      </div>
    </div>
    <div class="f-bot">
      <div>&copy; {{YEAR}} GateCity Buckhead &nbsp;&middot;&nbsp; Mailing: P.O. Box 490520, Lawrenceville, GA 30049</div>
      <div>info@gatecityatl.com</div>
    </div>
  </div>
</footer>
<script src="/assets/site.js" defer></script>
